.container{
    width: 40%;
    margin: 15vh auto;
    background-color: blueviolet;
    padding-bottom: 20px;
}
@media screen and (max-width: 1000px) {
    .container {
        width: 80%;
    }
}
@media screen and (max-width: 550px) {
    .container {
        width: 95%;
    }
}